%ul.nav.nav-sidebar
  = nav_link do
    = link_to project_path(@project.gl_project), title: 'Back to project', data: {placement: 'right'}, class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        Back to project
  %li.separate-item
  = nav_link path: ['projects#show', 'commits#show', 'builds#show'] do
    = link_to ci_project_path(@project) do
      = icon('list-alt fw')
      %span
        Commits
        %span.count= @project.commits.count
    = nav_link path: 'web_hooks#index' do
      = link_to ci_project_web_hooks_path(@project) do
        = icon('link fw')
        %span
          Web Hooks
    = nav_link path: ['services#index', 'services#edit'] do
      = link_to ci_project_services_path(@project) do
        = icon('share fw')
        %span
          Services
    = nav_link path: 'events#index' do
      = link_to ci_project_events_path(@project) do
        = icon('book fw')
        %span
          Events
    %li.separate-item
    = nav_link path: 'projects#edit' do
      = link_to edit_ci_project_path(@project) do
        = icon('cogs fw')
        %span
          Settings
